@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

$text-color: #ffffffc4;
$primary-color: rgb(2, 0, 36);
$secondary-color: #342726;
$primary-font: "Press Start 2P", cursive;
